html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
a { cursor: pointer; }

html, body
{
	background:#fff;
	padding:0;
	margin:0;
	font-family:arial, sans-serif;
	color: #666;
}
/*
body
{
	background: #fff url("images/bg.png") repeat-x top left;
}
 */
 
label
{
	cursor: pointer !important;
}
h1 
{
	color: #0093d8	; 
}

.addition
{
	font-size: 60% !important;
	line-height: 1.5em !important;
}

.addition td
{
	padding-right: 10px;
}

a { color:skyblue }
canvas { pointer-events:none; }
#overlay{
	position: absolute;
	z-index: 9990;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
#main
{
	width: 100%;
	text-align: center;
}
#preloader{
	position: absolute;
	z-index: 9992;
	top: 0;
	left: 0;
}
#finish{
	position: absolute;
	z-index: 9994;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#preloader canvas{
	background-color: #ffffff;
}
#beta
{
	font-size: 16px;
}

#beta
{
	/* background: url("images/header.jpg") no-repeat top center; */
	width: 1200px;
	margin: 0 auto;
}
 

#header
{
	width: 960px;
	margin: 0 auto;
	/* background: url("images/html5.png") no-repeat top center; */
	position: relative;
	background-color: lightsteelblue;
	/*font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif; */	
	vertical-align: top;
	margin-bottom: 90px;
}

#header p
{
	font-size: 80%;
	line-height: 160%;
}

/*
.jumbotron
{
	background-color: lightsteelblue;
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;

}
 */
 
.jumbotron
{
	padding-bottom: 28px;
}
 
.jumbotron td
{
	vertical-align: top;
	padding-bottom: 30px;
}

.row
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.float-right
{
	float: right;
}

#author
{
	font-size: 100%;
	vertical-align: bottom;
}

/*
#author
{
	text-decoration: none;
	color: #666;
	text-indent: -99999px;
	background: url("images/by.png") no-repeat 0px 0px;
	width: 310px;
	height: 91px;
	position: absolute;
	top: 0;
	right: 0;
}
 */
/*
#play
{
	text-decoration: none;
	color: #666;
	text-indent: -99999px;
	background: url("images/btn-play.png") no-repeat 0px 0px; 
	width: 160px;
	height: 50px;
	position: absolute;
	bottom: 60px;
	right: 86px;
}
 */
 
#play
{
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;

}


 
/*
#author:hover, #play:hover
{
	background-position: 0px -1px;
}
 */
#content
{
	width: 1100px;
	margin: 0 auto;
}
#content .line
{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 40px;
}
h1
{
	color: white !important;
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	margin-bottom: 60px;
}

.product-top
{
	font-size: 60px;
	vertical-align: bottom;
}

.product-name
{
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;

}


.jumbotron a
{
	color: white;
}

h2
{
	cursor: pointer;
	width: 1000px;
	padding-left: 100px;
	line-height: 56px;
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	font-size: 30px;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6
{
	color: #e95531;
}

.preset-index
{
	color: #e95531;
}

.preset-table
{
	margin-top: 20px;
	padding-top: 20px;
}

.preset-table, 
.preset-table tr, 
.preset-table tr td,
.about-table, 
.about-table tr, 
.about-table tr td
#finish-table, 
#finish-table tr, 
#finish-table tr td,
.ladder-table,
.ladder-table tr,
.ladder-table tr td
{
	border: none;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.preset-table tr td
{
	width: 240px;
}
.preset-table tr
{
	border-bottom: 30px solid transparent;
}
.about-col2
{
	width: 50%;
}
.about-col1
{
	width: 25%;
}
.about-table p
{
	padding: 0;
	margin: 1em 0 0 0;
}
.about-table h3,
#finish h3,
.ladder-table h3,
.qanda h3
{
	margin: 0;
	padding: 0 20px 0 0;
	color: #e95531;
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	font-weight: normal;
	font-size: 26px;
}
.about-table h3.bis
{
	margin-top: 20px !important;
}
.about-table ul, .about-table ul li
{
	list-style: none;
}
.about-table a, .about-table a:link, .about-table a:active,
#finish-table a, #finish-table a:link, #finish-table a:active,
#detector-error a, #detector-error a:link, #detector-error a:active,
.qanda a, .qanda a:link, .qanda a:active
{
	text-decoration: none;
	font-weight: bold;
	color: #2a4759;
}
.about-table a:hover, .about-table a:focus,
#finish-table a:hover, #finish-table a:focus,
#detector-error a:hover, #detector-error a:focus,
.qanda a:hover, .qanda a:focus
{
	color: #52aedd;
}
.about-col1 p,
.about-col1 h3
{
	padding-left: 20px;
}
.preset-btn
{
	display: block;
	padding: 20px;
	height: 200px;
	width: 200px;
	cursor: pointer;
	background: url("images/btns-big.png") no-repeat -480px 0px;
	color: #fff;
	position: relative;
}
.preset-btntext
{
	display: block;
	margin-top: 12px;
	padding: 20px;
	height: 60px;
	width: 400px;
	cursor: pointer;
	background: url("images/btn-start.png") no-repeat 0px 0px;
	color: #fff;
	position: relative;
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	font-size: 36px;
	text-align: center;
	font-weight: normal;
	line-height: 32px;
}

.btn-start
{
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	font-size: 36px;

}

.preset-btntext.green
{
	background-image: url("images/btn-start-g.png");
}
.preset-btntext:hover
{
	padding: 18px 20px 22px 20px;
	background-position: 0px -2px;
	text-decoration:initial;
}
#start1
{
	margin: 0;
}
.preset-btn:hover
{
	padding: 18px 20px 22px 20px;
	background-position: -480px -2px;
	text-decoration:initial;
}
.preset-btn.preset-head, 
.preset-btn.preset-head:hover
{
	background: none;
	padding: 20px;
	cursor: default !important;
}
.preset-btn.preset-head, .preset-btn.preset-head span
{
	color: #666 !important;
}
.preset-btn.active
{
	background-position: -720px 0px;
} 
.preset-btn.active:hover
{
	background-position: -720px -2px;
}
.preset-btn.disabled,
.preset-btn.disabled:hover
{
	background-position: -240px 0px;
	padding: 20px;
	cursor: not-allowed !important;
} 
.preset-btn span.big
{
	color: #fff;
	display: block;
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	font-size: 36px;
	text-align: center;
	font-weight: normal;
	line-height: 100px;
}
.preset-btn b
{
	font-family: monospace;
	font-weight: normal;
}
.preset-btn ul, 
.preset-btn ul li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.preset-btn ul li
{
	padding-left: 10px;
}
.preset-btn span.small
{
	color: #fff;
	display: block;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	padding: 0 10px;
}
.preset-btn.preset-head span.big
{
	font-size: 40px;
	text-align: left;
	line-height: 30px;
	padding: 20px 0 20px 60px;
}

.preset-btn.preset-head span.small
{
	text-align: left;
}
.preset-btn.preset-head i
{
	position: absolute;
	color: #ccc;
	font-size: 77px;
	font-style: normal;
	margin-top: -4px;
	margin-left: 20px;
}
.preset-track
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.preset-btn:hover .preset-track
{
	top: -2px;
}
.preset-btn.disabled:hover .preset-track
{
	top: 0px;
}
.preset-track-title
{
	padding-top: 126px;
}
/*
.vh { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
 */
.vh.focusable:active, 
.vh.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.ns {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;}

#finish-container
{
	height: 520px;
	margin-top: -260px;
	width: 800px;
	margin-left: -400px;
	top: 50%;
	left: 50%;
	position: absolute;
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}
#finish h2
{
	background: none;
	padding: 0;
	margin: 20px 20px 0px 20px;
	color: #53aedd;
	text-align: center;
	font-size: 48px;
	width: auto;
	line-height: normal;
	height: auto;
}
#finish h3
{
	text-align: center;
}
#finish-table
{
	margin: 20px;
	height: 250px;
	width: 760px;
}
#finish-table tr td
{
	width: 33%;
	position: relative;
}
.reset-relative
{
	position: relative;
	text-align: center !important;
}
#quit,
#restart
{
	display: inline-block;
	line-height: 64px;
	text-decoration: none;
}
#quit:hover,
#restart:hover
{
	padding: 20px;
	line-height: 62px;
}
#finish .sublinks
{
	text-align: center;
}
#finish-result,
.finish-lap
{
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	font-size: 36px;
	text-align: center;
	font-weight: normal;
	line-height: 50px;
	padding: 0;
	margin: 0;
}
#finish-table i,
.ladder-row i
{
	display: inline-block;
	padding-right: 3px;
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	font-size: 16px;
	line-height: 13px;
	font-variant: normal;
	font-style: normal;
	color: #aaa;
}
.finish-lap-sep,
{
	display: block;
	height: 1px;
	font-size: 0px;
	margin: 0;
}
#finish-table i.lap1
{
	top: 88px;
	left: 46px;
	color: #ccc;
}
#finish-table i.lap2
{
	top: 120px;
	left: 46px;
	color: #ccc;
}
#finish-table i.lap3
{
	top: 152px;
	left: 46px;
	color: #ccc;
}
.finish-lap
{
	line-height: 32px;
	color: #999999;
	display: inline-block;
}
#finish ul, #finish ul li
{
	list-style: none;
}
#finish ul li
{
	max-height: 28px;
}
#finish h3
{
	padding: 0;
}

#playername,
.playermask
{
	position: absolute;
	z-index: 10;
	width: 170px;
	font-family: Consolas, Inconsolata, monospace;
	font-size: 48px;
	color: #0093d8;
	border: none;
	padding: 0;
	margin: 10px 0 10px 35px;
	outline: none;
}
.playermask
{
	z-index: 8;
}
.playermask i
{
	font-style: normal;
	color: #b0e6ff;
}
.playerlabel
{
	cursor: pointer;
	display: block;
	text-align: center;
	padding: 0;
	margin: 20px 0 0 0;
	font-family: "BebasNeueRegular", "Meiryo UI", Arial, sans-serif;
	font-size: 26px;
	font-variant: normal;
	font-style: normal;
	color: #aaa;
}
.playersmall
{
	margin-top: 85px;
	display: block;
	padding: 0 30px;
}

.ladder-table
{
	width: 100%;
}
.ladder-table td
{
	width: 50%;
	padding-right: 40px !important;
	vertical-align: top;
}
.ladder-row
{
	display: block;
	line-height: 26px;
	font-family: Consolas, Inconsolata, monospace;
	border-bottom: 1px solid #ddd;
}
.ladder-row i
{
	font-style: normal;
	float: right;
	display: inline-block;
	position: static !important;
	line-height: 30px !important;
	margin-bottom: -4px !important;
	font-size: 20px !important;
}
.difficulty
{
	text-align: center;
	padding-top: 10px;
}
#detector-error
{
	margin-bottom: 50px;
}

#header-1
{
	height: 300px;
}

#video
{
	padding: 0;
	/*
	width: 476px;
	height: 280px;
	 */
	width:100%;
	height: 280px;
	/* top: -50px; */
}

.col-md-6
{
	padding-bottom: 30px;
}

/*
iframe{ width:100%; }
 */
/*
*, *:before, *:after {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
} */

.preset-btn {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;

}


#lowfps-msg
{
	margin-top: 40px;
}

.qanda p
{
	margin-bottom: 40px;
}

#footer
{
	color: #bbb;
	font-size: 13px;
	text-align: center;
}

#sotd
{
	text-indent: -9999px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100px;
	width: 100px;
	display: block;
	background: transparent url("images/sotd.png") no-repeat top right;
}

#pinbox-value
{
	font-family: "Consolas", "mono";
	font-size: 2em;
}

.glyphicon {
	font-size: 24px;
}

#mc-mobile-url {
	font-family: "Consolas", "mono";
	font-weight: bold;
}
