#pinBoxValue {
	font-size: x-large;
	text-align: center;
}

#handle {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	
	/*position: absolute;*/
	
	top:0px;
	left: 0px;
	
	width:100%;
	height:100%;
	
}

#handle-table {
	width: 100%;
	height: 100%;
	text-align: center;
}

.handle-side {
	width: 15%;
}

#handle-left {

}

#handle-right {

}

#handle-center {
	
}
